*{
    margin: 0;
}

.topbanner{
    text-align: center;
    background-image: linear-gradient(to right,rgb(17, 218, 236),orange);
    height: 100px;
    width: 100%;
    color: rgb(0, 157, 255);
    font-size: 2.5rem;
}

.container {
    max-width: 1234px;
    margin-inline: auto;
    overflow: hidden;
}