  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body{
    font-family: 'Lato', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#3ed8ff,#216cbc);
}

.outer-box h1{
    text-align: center;
    font-size: 10rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.outer-box p{
    font-size: 1.5rem;
}

.inner-box header p{
    font-weight: bolder;
    font-size: 2rem;
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 13%;
    transform: translateZ(3%);
    padding: 20px 40px;
    background-color: #ffffffcc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
}

.signup-header p{
    font-size: 3.5rem;
    color: #212121;
}

.signup-body{
    margin: 10% 0;
}

.signup-body p{
    margin: 0.000001px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
}

.signup-body p input[type="submit"]{
    background-color: #3498db;
    margin: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
    color: #2773a5;
}

.signup-footer p{
    color: #555;
}

.signup-footer a{
    color: #2773a5;
    text-align: center;
}