*{
    margin: 0%;
    padding: 0%;
}

.top-banner{
    background-image: linear-gradient(to top left,rgb(226, 229, 15),rgb(12, 205, 12));
    width: 100%;
    height: 250px;
}

.banner-text{
    color: rgb(25, 169, 253);
    padding: 15px 30px;
    text-align: center;
    font-size: 2.5rem;
}

a{
    color: aquamarine;
    margin-right: 25px;
    text-decoration: none;
    align-items: end;
}

a :hover{
    color: #2773a5;
}

header p{
    font-size: 2.5rem;
    color: orange;
}

.container1{
    max-width: 1490px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.container2{
    max-width: 1345px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.companies img{
    margin-top: 340px;
    height: 100px;
    margin-right: 60px;
}

.companies h2{
    text-align: right;
    margin-bottom: 30px;
    color: lime;
}

.bottom-banner{
    background-image: linear-gradient(to right,rgb(224, 149, 19),rgb(255, 255, 2));
    height: auto;
}

.bottom-banner footer{
    color:rgb(1, 253, 232);
    font-size: 2.5rem;
    text-align: center;
}